DATABASE_URL=postgres://user:password@localhost:5432/dbname
PVP_STUDENT_DATA_URL=https://ba.joexyz.online/api/students
NEXT_PUBLIC_IMAGE_CDN_URL=https://ba.cdn.nimblebun.works
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_
CLERK_SECRET_KEY=sk_test_
CLERK_JWT_ISSUER_DOMAIN=https://....clerk.accounts.dev
CLERK_WEBHOOK_SECRET=
NEXT_PUBLIC_CONVEX_URL=https://....convex.cloud
INVENTORY_MANAGEMENT_RECOMMENDED_PRESET_ID=odyssey
NEXT_PUBLIC_PLANA_AI_ENABLED=true
OPENAI_API_KEY=sk-...
CHROMA_API_KEY=your_chroma_api_key
CHROMA_TENANT_ID=your_chroma_tenant_id
CHROMA_DATABASE_NAME=your_chroma_database_name
BUY_ME_A_COFFEE_WEBHOOK_SECRET=
R2_ACCOUNT_ID=
R2_BUCKET_NAME=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
